<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!--    需要用Jquery吗？ 不推荐使用，他要操作DOM元素。-->

</head>
<body>
<div id="app">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">添加品牌</h4>
        </div>
        <div class="panel-body form-inline">
            <label>
                Id:
                <input type="text" class="form-control" v-model="id">
            </label>

            <label>
                Name:
                <!-- enter 回车 添加  内置修饰符 .tab .delete .esc .space .up .down .left .right -->
                <!-- 自定义 网上找码 比如F2=113  enter=13         -->
<!--                https://www.cnblogs.com/wuhua1/p/6686237.html-->
<!--                <input type="text" class="form-control" v-model="name" @keyup.enter="add">-->
<!--                <input type="text" class="form-control" v-model="name" @keyup.113="add">-->
<!--                自定义全局案件修饰符 Vue.config.keyCodes.f2 = 113-->
                <input type="text" class="form-control" v-model="name" @keyup.f2="add">
            </label>

            <input type="button" value="添加" class="btn-primary" @click="add">

            <label>
                搜索名称关键字:
<!--                <input type="text" class="form-control" v-model="keywords" id="search" v-focus v-color>-->
                <input type="text" class="form-control" v-model="keywords" id="search" v-focus v-color="'red'">
            </label>
        </div>
    </div>

    <!--    webstorm 添加插件bootstrap setting-plugin搜索即可  -->
    <!--  ctrl+j  输入bs3-table即出现下方table-->
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ctime</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
<!--        之前v-for中的数据，都是直接从data上的list中直接渲染过来-->
<!-- 现在我们定义了search方法，同时把所有的关键字，通过传参的形式，传递给了search方法-->
<!--在 search 方法内部，通过执行 for 循环， 把所有符合 搜索关键字的数据， 保存到一个新的数组中返回-->
        <tr v-for="item in search(keywords)" :key="item.id">
            <td>{{item.id}}</td>
            <td v-text="item.name"></td>
            <td>{{item.ctime}}</td>
            <td>
                <a href="" @click.prevent="del(item.id)">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
<script>

    //自定义全局案件修饰符
    Vue.config.keyCodes.f2 = 113

    // 注册或获取全局指令
    //参数1： 指令的名称，注意，在定义时，指令名称不需要加v-，但是调用时需要加上，
    //残数： 是一个对象，这个对象身上，有一些指令相关的函数，这些函数可以在特定的阶段，执行相关操作
    Vue.directive('focus', {
        //参数 https://cn.vuejs.org/v2/guide/custom-directive.html#%E9%92%A9%E5%AD%90%E5%87%BD%E6%95%B0
        bind: function (el) {//每当指令绑定到元素时，会立即执行bind函数，执行一次
            //el为原生JS对象
            //在元素 刚绑定了指定的时候，还没有插入到dom中去，这时 调用 focus 没有作用，因为一个元素只有插入dom后，才能获取焦点
            //el.focus()

        },
        inserted: function (el) {//元素插入到dom的时候执行inserted函数，执行一次
            el.focus()
            // 和JS有关的操作，最好在 inserted 中去执行，防止 JS 不生效
        },
        update: function () {//当 VNode更新的时候会执行 update，可能执行多次

        },
        componentUpdated: function () {},
        unbind: function () {},

    })

    Vue.directive('color',{
        // 这个元素 不管有没有插入到页面中去，这个元素肯定有了一个内联样式
        // 将来元素肯定会显示到页面中，这时候，浏览器的渲染引擎必然会解析央视，应用给这个元素
        bind: function (el, binding, vnode, oldVnode ) {
            el.style.color = binding.value
            //和 样式有关的，一般都可以在 bind 执行
            console.log(binding.name)//指令名
            console.log(binding.value)//指令的绑定值，例如：v-my-directive="1 + 1" 中，绑定值为 2。
            //oldValue：指令绑定的前一个值，仅在 update 和 componentUpdated 钩子中可用。无论值是否改变都可用。
            //arg: 传给指令的参数，可选。例如 v-my-directive:foo 中，参数为 "foo"。
            //modifiers：一个包含修饰符的对象。例如：v-my-directive.foo.bar 中，修饰符对象为 { foo: true, bar: true }。
            console.log(binding.expression)//字符串形式的指令表达式。例如 v-my-directive="1 + 1" 中，表达式为 "1 + 1"。
        }
    })

    const App = new Vue({
        el: '#app',
        data: {
            id: '',
            name: '',
            keywords:'',
            list:[
                { id: 1, name: '奔驰', ctime: new Date() },
                { id: 2, name: '宝马', ctime: new Date() },
            ]},
        methods: {
            add(){
                var car = { id: this.id, name: this.name, ctime: new Date()}
                this.list.push(car)
                this.id = this.name = '';
            },
            del(id){

                // this.list.some((item,i)=>{
                //     if(item.id == id){
                //         this.list.splice(i,1);
                //         return true;
                //     }
                // })

                var index = this.list.findIndex(item=>{
                    if(item.id == id){
                        return true;
                    }
                })
                this.list.splice(index,1)

            },

            search(keywords){
                // var newList = [];
                // this.list.forEach(item=>{
                //     if(item.name.indexOf(keywords) != -1){
                //         newList.push(item)
                //     }
                // })
                // return newList;

                //注意 ： forEach some filter findIndex 这些都属于数组的新方法
                //都会对数组的每一项，进行遍历，执行相关的操作。

                return newList = this.list.filter(item=>{
                    //if(item.name.indexOf(keywords) != -1)

                    //注意：Es6中，为字符串提供了一个新方法，叫做 String. prototype. includes（'要包
                    //含的字符串'）
                    //如果包含，则返回true，否则返回false
                    //jq :contains 选择器选取包含指定字符串的元素。 $(":contains(text)")
                    if(item.name.includes(keywords)){
                        return item;
                    }

                })

            }

        }
    })
    //document.getElementById('search').focus()  vue所有指令调用时都已v-开头 v-focus
</script>
</html>
